<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>{{ stylist.getName }}</h1>

        {% if clients is not empty %}
            <h4>Here is a list of clients {{ stylist.getName }} serves:<h4>
                <ul>
                {% for client in clients %}
                    <li>{{ client.getName }}</li>
                {% endfor %}
        {% endif %}
    </body>
</html>
